@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@layer base {
  :root {
    --font-sans: 'Inter', sans-serif;
  }

  html {
    font-family: var(--font-sans);
  }

  body {
    font-size: 14px;
    color: #1a1a1a;
  }

  /* Button cursor styles */
  button,
  [role='button'] {
    cursor: pointer;
  }
  button:disabled,
  [role='button']:disabled {
    cursor: default;
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
