@import 'tailwindcss';

body {
  font-family: 'Inter Light', sans-serif; /* TODO: Reference webfont later */
  font-size: 14px;
  color: #1a1a1a;
}

.PageBarItemWrapper {
  transform: translate3d(var(--translate-x, 0), var(--translate-y, 0), 0)
    scaleX(var(--scale-x, 1)) scaleY(var(--scale-y, 1));
}

@layer base {
  button,
  [role='button'] {
    cursor: pointer;
  }
  button:disabled,
  [role='button']:disabled {
    cursor: default;
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
